body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg , rgba(71, 70, 70, 0.5), rgb(75, 73, 73));
}

* {
    box-sizing: border-box;
}
#pokemonlogo {
    padding:80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: white;
    background-image: linear-gradient(145deg , rgba(71, 70, 70, 0.5), rgb(75, 73, 73));
    margin-bottom: 50px;  */
} 
#welcome {
    color: #fff;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 72px;
    padding: 1em;
}

main h1 {
    color: #fff;
}

main p {
    color: #fff;
}

.intro{
    /* padding:20px; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: linear-gradient(145deg , rgba(71, 70, 70, 0.5), rgb(75, 73, 73));
} 

.about {
    display: none;
}

.about .animated-avatars {
    display: block;
    margin: auto;
}

.about p {
    color: white;
}

.about hr {
    height: 5px; 
    width: 100%; 
    color: yellow; 
    background-color: yellow;
    opacity: 1;
}

.game {
    display: none;
}
.map {
    display: flex;
    flex-direction: column;
}

.tile-row {
    display: flex;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6bc12;
}

.tile.path {
    background-image: url('../images/grass_tile.png');
    background-size: 100% 100%;
}

.tile.tree {
    background-image: url('../images/tree_tile.png');
    background-size: 100% 100%;
}

.tile.pokemon {
    background-color: #e6bc12;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media only screen and (max-width: 992px) {
    main {
        margin-top: 172px;
    }
}

.quiz-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: #00000088;
}

.quiz {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 3px;
    background-color: #fff;
}

.quiz .sprite {
    width: 200px;
}

.quiz .question {
    text-align: center;
}

.quiz .choices {
    margin-bottom: 1em;
}

.quiz .choice {
    padding: 0.5em;
    margin-bottom: 0.5em;
    background-color: #000;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.quiz .success {
    padding: 1em;
    margin-bottom: 1em;
    background-color: green;
    text-align: center;
    color: #fff;
}

.quiz .try-again {
    padding: 1em;
    margin-bottom: 1em;
    background-color: red;
    text-align: center;
    color: #fff;
}

.quiz .finish,
.quiz .yes {
    display: none;
    margin-bottom: 0.5em;
}

.quiz .abort,
.quiz .finish,
.quiz .yes {
    padding: 0.5em 1em;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 1em;
}
