body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg , rgba(71, 70, 70, 0.5), rgb(75, 73, 73));
}

* {
    box-sizing: border-box;
}
#pokemonlogo {
    padding:300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: white;
    background-image: linear-gradient(145deg , rgba(71, 70, 70, 0.5), rgb(75, 73, 73));
    margin-bottom: 50px;  */
} 
#welcome {
    color: black;
    padding: 20px;
}

main {
    margin-top: 72px;
}

.intro{
    /* padding:20px; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-image: linear-gradient(145deg , rgba(71, 70, 70, 0.5), rgb(75, 73, 73));
} 

.about {
    display: none;
}
.game {
    display: none;
}
.map {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 992px) {
    main {
      margin-top: 172px;
    }
  }